.dashboard {
	background-color: $bg;
	color: $fg;
	padding: 24px;
	border-radius: 32px;
}

.timebox {
	background-color: $bgSecondary;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 32px;
	padding-right: 32px;
	border-radius: 24px;
	.time-container {
		.content {
			font-family: Iosevka Fixed SS05;
			font-weight: bold;
			font-size: 112px;
		}
	}
	.date-container {
		font-family: Iosevka Fixed SS05;
		font-weight: normal;
		font-size: 32px;
		margin-bottom: 8px;
	}
}

.profile {
	background-color: $bgSecondary;
	padding: 18px;
	border-radius: 24px;
	.lastcol {
		font-family: Iosevka Fixed SS05;
		font-weight: bold;
		font-size: 48px;
		margin-left: 8px;
		.hostname {
			color: $blue;
			font-size: 32px;
		}
		.uptime {
			color: $lightblack;
			font-size: 24px;
			margin-bottom: 4px;
		}
	}
}

.music-box {
	background-color: $bgSecondary;
	padding: 12px;
	border-radius: 24px;
	.firstcol {
		.picture {
			margin-top: 6px;
			margin-bottom: 6px;
			margin-left: 6px;
			min-height: 256px;
			min-width: 256px;
			border-radius: 16px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	.lastcol {
		font-family: Iosevka Fixed SS05;
		margin-top: 60px;
		margin-right: 12px;
		.title {
			font-weight: bold;
			font-size: 36px;
		}
		.artist {
			color: $lightblack;
			font-size: 24px;
		}
		.music-controls {
			transition: all ease .3s;
			font-family: Symbols Nerd Font Mono;
			button {
				font-size: 32px;
				padding: 6px;
				border-radius: 18px;
				&:hover { background-color: $black; }
				&:active { background-color: $bg; }
			}
			.pause {
				font-size: 48px;
			}
		}
	}
}

.controls {
	background-color: $bgSecondary;
	font-family: Symbols Nerd Font Mono;
	font-size: 32px;
	padding-top: 24px;
	padding-bottom: 24px;
	border-radius: 24px;
	.header {
		color: $lightblack;
	}
	.content {
		.disk-slider {
			.disk-label {
				color: $fg;
				margin-top: 4px;
				margin-bottom: -4px;
				margin-left: 0px;
			}
			& progressbar trough {
				background-color: $black;
				margin-bottom: 6px;
				margin-left: 14px;
				min-height: 20px;
				min-width: 420px;
				border-radius: 10px;
				& progress {
					background-color: $red;
					min-height: 20px;
					border-radius: 10px;
				}
			}
		}
		.vol-slider {
			.vol-label {
				color: $fg;
				margin-left: 0px;
			}
			& scale trough {
				background-color: $black;
				margin-left: 14px;
				min-height: 20px;
				min-width: 420px;
				border-radius: 10px;
				& highlight {
					background-color: $cyan;
					border-radius: 10px;
				}
			}
		}
		.mic-label {
			color: $fg;
			font-size: 40px;
			margin-left: -4px;
			margin-right: 4px;
		}
		.mic-slider {
			& scale trough {
				background-color: $black;
				margin-left: 6px;
				min-height: 20px;
				min-width: 420px;
				border-radius: 10px;
				& highlight {
					background-color: $yellow;
					border-radius: 10px;
				}
			}
		}
	}
}

.cal-box {
	background-color: $bgSecondary;
	color: $fg;
	font-family: Iosevka Fixed SS05;
	padding-top: 6px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 2px;
	border-radius: 24px;

	.cal {
		font-size: 36px;
		padding: 0.1rem 0.025rem;
	}
}

calendar.header {
	color: $cyan;
}

calendar.button {
	color: $cyan;
}

calendar.highlight {
	color: $green;
}

calendar:indeterminate {
	color: $lightblack;
}
