.dashboard {
  background-color: $bg;
  color: $fg;
  padding: 12px;
  border-radius: 14px;
}

.timebox {
  background-color: $bgSecondary;
  padding: 4px;
  border-radius: 12px;
  .time-container {
    .content {
      font-family: Iosevka Fixed SS05;
      font-weight: bold;
      font-size: 56px;
    }
  }
  .date-container {
    font-family: Iosevka Fixed SS05;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.profile {
  background-color: $bgSecondary;
  padding: 6px;
  border-radius: 12px;
  .lastcol {
    font-family: Iosevka Fixed SS05;
    font-weight: bold;
    font-size: 24px;
    margin-left: 8px;
    .hostname {
      color: $blue;
      font-size: 16px;
    }
    .uptime {
      color: $lightblack;
      font-size: 12px;
      margin-bottom: 4px;
    }
  }
}

.music-box {
  background-color: $bgSecondary;
  padding: 6px;
  border-radius: 12px;
  .firstcol {
    .picture {
      margin-top: 6px;
      margin-bottom: 6px;
      margin-left: 6px;
      min-height: 128px;
      min-width: 128px;
      border-radius: 6px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .lastcol {
    font-family: Iosevka Fixed SS05;
    margin-top: 32px;
    margin-right: 12px;
    .title {
      font-weight: bold;
      font-size: 18px;
    }
    .artist {
      color: $lightblack;
      font-size: 12px;
    }
    .music-controls {
      transition: all ease 0.3s;
      font-family: Symbols Nerd Font Mono;
      button {
        font-size: 16px;
        padding: 6px;
        border-radius: 12px;
        &:hover {
          background-color: $black;
        }
        &:active {
          background-color: $bg;
        }
      }
      .pause {
        font-size: 24px;
      }
    }
  }
}

.controls {
  background-color: $bgSecondary;
  font-family: Symbols Nerd Font Mono;
  font-size: 16px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 12px;
  .header {
    color: $lightblack;
  }
  .content {
    .disk-slider {
      .disk-label {
        color: $fg;
        margin-left: 0px;
      }
      & progressbar trough {
        background-color: $black;
        margin-bottom: 6px;
        margin-left: 10px;
        min-height: 10px;
        min-width: 235px;
        border-radius: 4px;
        & progress {
          background-color: $red;
          min-height: 10px;
          border-radius: 4px;
        }
      }
    }
    .vol-slider {
      .vol-label {
        color: $fg;
        margin-left: 0px;
      }
      & scale trough {
        background-color: $black;
        margin-left: 10px;
        min-height: 10px;
        min-width: 235px;
        border-radius: 4px;
        & highlight {
          background-color: $cyan;
          border-radius: 4px;
        }
      }
    }
    .mic-label {
      color: $fg;
      font-size: 20px;
      margin-left: -2px;
      margin-right: 2px;
    }
    .mic-slider {
      & scale trough {
        background-color: $black;
        margin-left: 6px;
        min-height: 10px;
        min-width: 235px;
        border-radius: 4px;
        & highlight {
          background-color: $yellow;
          border-radius: 4px;
        }
      }
    }
  }
}

.cal-box {
  background-color: $bgSecondary;
  color: $fg;
  font-family: Iosevka Fixed SS05;
  padding-top: 6px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 2px;
  border-radius: 12px;

  .cal {
    font-size: 18px;
    padding: 0.1rem 0.025rem;
  }
}

calendar:selected {
  color: $cyan;
}

calendar.header {
  color: $cyan;
}

calendar.button {
  color: $cyan;
}

calendar.highlight {
  color: $green;
}

calendar:indeterminate {
  color: $lightblack;
}
