.dashboard {
  background-color: $bg;
  color: $fg;
  padding: 13.5px;
}

.timebox {
  all: unset;
  background-color: $bgSecondary;
  border-radius: 18px;
  padding: 9px;
  .time-container {
    .content {
      font-family: Iosevka Fixed SS05;
      font-weight: bolder;
      font-size: 84px;
    }
  }
  .date-container {
    font-family: Iosevka Fixed SS05;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 9px;
  }
}

.profile {
  all: unset;
  background-color: $bgSecondary;
  border-radius: 18px;
  padding: 9px;
  .lastcol {
    font-family: Iosevka Fixed SS05;
    margin-left: 9px;
    margin-bottom: 4.5px;
    .username {
      font-size: 36px;
      font-weight: bolder;
    }
    .uptime, .hostname {
      font-family: Iosevka Fixed SS05;
      font-weight: bolder;
    }
    .hostname {
      color: $blue;
      font-size: 24px;
    }
    .uptime {
      color: $lightblack;
      font-size: 18px;
    }
  }
}

.controls {
  all: unset;
  background-color: $bgSecondary;
  border-radius: 18px;
  padding: 9px;
  .header {
    font-family: Iosevka Fixed SS05;
    color: $lightblack;
    font-size: 6px;
  }
  .content {
    padding: 9px 0px;
    .disk-slider {
      .disk-label {
        font-family: Iosevka Fixed SS05;
        font-size: 24px;
        margin-bottom: -9px;
        margin-right: 13.5px;
        margin-left: -3px;
        color: $fg;
      }
      & progressbar trough {
        all: unset;
        border-radius: 6px;
        background-color: $black;
        margin-left: 6px;
        margin-bottom: 9px;
        min-height: 16.5px;
        min-width: 345px;
        & progress {
          all: unset;
          min-height: 16.5px;
          background-color: $red;
          color: #000000;
          border-radius: 6px;
        }
      }
    }
    .vol-slider {
      .vol-label {
        font-family: Iosevka Fixed SS05;
        font-size: 27px;
        margin-right: 10.5px;
        margin-left: -1.5px;
        margin-bottom: 7.5px;
        color: $fg;
      }
      & scale trough {
        all: unset;
        border-radius: 6px;
        background-color: $black;
        margin-left: 6px;
        margin-bottom: 9px;
        min-height: 16.5px;
        min-width: 345px;
        & highlight {
          all: unset;
          background-color: $cyan;
          color: #000000;
          border-radius: 6px;
        }
      }
      margin-bottom: -5px;
    }
    .mic-label {
      font-family: Iosevka Fixed SS05;
      font-size: 24px;
      margin-right: 12px;
      margin-bottom: 6px;
      color: $fg;
    }
    .mic-slider {
      & scale trough {
        all: unset;
        border-radius: 6px;
        background-color: $black;
        margin-left: 6px;
        margin-bottom: 9px;
        min-height: 16.5px;
        min-width: 345px;
        & highlight {
          all: unset;
          background-color: $yellow;
          color: #000000;
          border-radius: 6px;
        }
      }
    }
  }
}

.music-box {
  all: unset;
  background-color: $bgSecondary;
  border-radius: 18px;
  padding: 9px;
  .firstcol {
    .picture {
      all: unset;
      margin: 6px;
      min-height: 192px;
      min-width: 192px;
      border-radius: 18px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .lastcol {
    .title {
      all: unset;
      font-family: Iosevka Fixed SS05;
      font-size: 27px;
      font-weight: bolder;
      margin-top: 36px;
      margin-right: 9px;
    }
    .artist {
      all: unset;
      font-family: Iosevka Fixed SS05;
      font-size: 18px;
      color: $lightblack;
    }
    .music-controls {
      all: unset;
      transition: all ease .225s;
      button {
        font-family: Symbols Nerd Font;
        font-size: 24px;
        padding: 9px;
        border-radius: 18px;
        &:hover { background-color: $black; }
        &:active { background-color: $bg; }
      }
      .pause {
        font-family: Symbols Nerd Font;
        font-size: 36px;
      }
      margin-bottom: 6px;
    }
  }
}

.cal-box {
  all: unset;
  border-radius: 18px;
  background-color: $bgSecondary;
  padding: 9px;
  color: $fg;
  background-color: $bgSecondary;

  .cal {
    font-family: Iosevka Fixed SS05;
    font-size: 27px;
    padding: 0.15rem 0.0375rem;
  }
}

calendar:selected {
  color: $cyan;
}

calendar.header {
  color: $cyan;
  font-weight: bold;
}

calendar.button {
  color: $cyan;
}

calendar.highlight {
  color: $green;
  font-weight: bold;
}

calendar:indeterminate {
  color: $lightblack;
}
