.dashboard {
  background-color: $bg;
  color: $fg;
  padding: 24px;
  border-radius: 28px;
}

.timebox {
  all: unset;
  background-color: $bgSecondary;
  border-radius: 24px;
  padding: 12px;
  .time-container {
    .content {
      font-family: Iosevka Fixed SS05;
      font-weight: bolder;
      font-size: 128px;
    }
  }
  .date-container {
    font-family: Iosevka Fixed SS05;
    font-weight: normal;
    font-size: 32px;
    margin-bottom: 12px;
  }
}

.profile {
  all: unset;
  background-color: $bgSecondary;
  border-radius: 24px;
  padding: 12px;
  .lastcol {
    font-family: Iosevka Fixed SS05;
    margin-left: 12px;
    margin-bottom: 6px;
    .username {
      font-size: 48px;
      font-weight: bolder;
    }
    .uptime, .hostname {
      font-family: Iosevka Fixed SS05;
      font-weight: bolder;
    }
    .hostname {
      color: $blue;
      font-size: 32px;
    }
    .uptime {
      color: $lightblack;
      font-size: 24px;
    }
  }
}

.controls {
  all: unset;
  background-color: $bgSecondary;
  border-radius: 24px;
  padding: 12px;
  .header {
    font-family: Iosevka Fixed SS05;
    color: $lightblack;
    font-size: 8px;
  }
  .content {
    padding: 12px 0px;
    .disk-slider {
      .disk-label {
        font-family: Symbols Nerd Font Mono;
        font-size: 28px;
        margin-right: 12px;
        margin-left: 8px;
        margin-bottom: -12px;
        color: $fg;
      }
      & progressbar trough {
        all: unset;
        border-radius: 8px;
        background-color: $black;
        margin-right: 12px;
        margin-left: 8px;
        margin-bottom: 10px;
        min-height: 22px;
        min-width: 460px;
        & progress {
          all: unset;
          min-height: 22px;
          background-color: $red;
          color: #000000;
          border-radius: 8px;
        }
      }
    }
    .vol-slider {
      .vol-label {
        font-family: Symbols Nerd Font Mono;
        font-size: 28px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 8px;
        color: $fg;
      }
      & scale trough {
        all: unset;
        border-radius: 8px;
        background-color: $black;
        margin-right: 12px;
        margin-left: 8px;
        margin-bottom: 6px;
        min-height: 22px;
        min-width: 460px;
        & highlight {
          all: unset;
          background-color: $cyan;
          color: #000000;
          border-radius: 8px;
        }
      }
      margin-bottom: -10px;
    }
    .mic-label {
      font-family: Symbols Nerd Font Mono;
      font-size: 38px;
      margin-top: 8px;
      margin-right: 6px;
      margin-left: 4px;
      margin-bottom: 8px;
      color: $fg;
    }
    .mic-slider {
      & scale trough {
        all: unset;
        border-radius: 8px;
        background-color: $black;
        margin-top: -4px;
        margin-right: 12px;
        margin-left: 8px;
        min-height: 22px;
        min-width: 460px;
        & highlight {
          all: unset;
          background-color: $yellow;
          color: #000000;
          border-radius: 8px;
        }
      }
    }
  }
}

.music-box {
  all: unset;
  background-color: $bgSecondary;
  border-radius: 24px;
  padding: 12px;
  .firstcol {
    .picture {
      all: unset;
      margin: 8px;
      min-height: 256px;
      min-width: 256px;
      border-radius: 24px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .lastcol {
    .title {
      all: unset;
      font-family: Iosevka Fixed SS05;
      font-size: 36px;
      font-weight: bolder;
      margin-top: 48px;
      margin-right: 12px;
    }
    .artist {
      all: unset;
      font-family: Iosevka Fixed SS05;
      font-size: 24px;
      color: $lightblack;
    }
    .music-controls {
      all: unset;
      transition: all ease .3s;
      button {
        font-family: Symbols Nerd Font Mono;
        font-size: 32px;
        padding: 12px;
        border-radius: 24px;
        &:hover { background-color: $black; }
        &:active { background-color: $bg; }
      }
      .pause {
        font-family: Symbols Nerd Font Mono;
        font-size: 48px;
      }
      margin-bottom: 8px;
    }
  }
}

.cal-box {
  all: unset;
  border-radius: 24px;
  background-color: $bgSecondary;
  padding: 12px;
  color: $fg;
  background-color: $bgSecondary;

  .cal {
    font-family: Iosevka Fixed SS05;
    font-size: 36px;
    padding: 0.2rem 0.05rem;
  }
}

calendar:selected {
  color: $cyan;
}

calendar.header {
  color: $cyan;
  font-weight: bold;
}

calendar.button {
  color: $cyan;
}

calendar.highlight {
  color: $green;
  font-weight: bold;
}

calendar:indeterminate {
  color: $lightblack;
}
