assets/pdf/help-1.cpt
assets/pdf/help.synctex.gz
*.aux
*.toc

bookmarks

.config/eww/C*
.config/eww/dashboard.scss

.config/nvim/spell/es.utf-8.add
.config/nvim/spell/es.utf-8.add.spl

.config/zsh/ohmyzsh
.config/zsh/zsh-autosuggestions
.config/zsh/zsh-history-substring-search
.config/zsh/zsh-syntax-highlighting
.config/zsh/zsh-you-should-use

*.log
*.out

qt5ct.conf
qt6ct.conf
.stfolder

.zcompdump

drw.o
util.o
config.h
stest
stest.o

suckless/dmenu/dmenu
suckless/dmenu/dmenu.o

suckless/dwmblocks/blocks.h
suckless/dwmblocks/dwmblocks

suckless/dwm/dwm
suckless/dwm/dwm.o

suckless/st/hb.o
suckless/st/st.o
suckless/st/st
suckless/st/x.o
