assets/pdf/help-1.cpt
*.aux
bookmarks
.config/eww/C*
.config/zsh/ohmyzsh
.config/zsh/zsh-autosuggestions
.config/zsh/zsh-history-substring-search
.config/zsh/zsh-syntax-highlighting
.config/zsh/zsh-you-should-use
dashboard.scss
dmenu/config.h
dmenu/dmenu
dmenu.o
drw.o
dwmblocks/blocks.h
dwmblocks/config.h
dwmblocks/dwmblocks
dwm/config.h
dwm/dwm
dwm.o
font.h
fonts.h
hb.o
*.log
*.out
qt5ct.conf
resolution.h
st/config.h
stest
stest.o
.stfolder
st.o
st/st
*.toc
util.o
xmenu.o
xmenu/xmenu
x.o
.zcompdump
