bookmarks
qt5ct.conf
.stfolder
.zcompdump
dashboard.scss
*.toc
*.log
*.out
*.aux
util.o
dwm.o
dwm/dwm
dwm/config.h
drw.o
resolution.h
stest.o
font.h
dmenu.o
dmenu/dmenu
dmenu/config.h
stest
hb.o
st/config.h
st/st
st.o
x.o
fonts.h
