$bg: #282828;
$bgSecondary: #1d2021;
$darkbg: #1d2021;
$contrastbg: #32302f;
$bgSecondaryAlt: #1d2021;
$fg: #d5c4a1;
$fgDim: #928374;
$watermelon: #fb4934;

$background: $bg;
$backgroundSecondary: $bgSecondary;
$backgroundSecondaryAlt: $bgSecondaryAlt;
$foreground: $fg;
$foregroundDim: $fgDim;

$black: #3c3836;
$dimblack: #282828;
$lightblack: #3c3836;
$red: #fb4934;
$blue: #458588;
$cyan: #83a598;
$blue-desaturated: #076678;
$purple: #b16286;
$magenta: #d3869b;
$green: #98971a;
$aquamarine: #689d6a;
$yellow: #d79921;
$accent: $blue;
$javacafeMagenta: #b16286;
$javacafeBlue: #458588;
