$bg: #282828;
$bgSecondary: #1D2021;
$darkbg: #1D2021;
$contrastbg: #32302F;
$bgSecondaryAlt: #1D2021;
$fg: #D5C4A1;
$fgDim: #928374;
$watermelon: #FB4934;

// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$backgroundSecondaryAlt: $bgSecondaryAlt;
$foreground: $fg;
$foregroundDim: $fgDim;

$black: #3C3836;
$dimblack: #282828;
$lightblack: #3C3836;
$red: #FB4934;
$blue: #458588;
$cyan: #83A598;
$blue-desaturated: #076678;
$purple: #B16286;
$magenta: #D3869B;
$green: #98971A;
$aquamarine: #689D6A;
$yellow: #D79921;
$accent: $blue;
$javacafeMagenta: #B16286;
$javacafeBlue: #458588;
