[Desktop Entry]
Comment=A third-party, open-source ProtonMail CardDAV, IMAP and SMTP bridge
Name=Hydroxide
Exec=/usr/bin/hydroxide imap
Terminal=false
Type=Application
