[Desktop Entry]
Type=Application
Name=lf File Manager (St)
Comment=Simple terminal-based file manager
Exec=st lf %F
Terminal=false
Icon=utilities-terminal
Categories=System;FileTools;FileManager
GenericName=File Manager
MimeType=inode/directory;
