/* Borrar botón para listar todas las pestañas */
#alltabs-button {
	display: none !important;
}

/* Reducir el paginador de pestañas cuando este no esta enfocado */
#tabbrowser-tabs:hover {
	height: 50px !important;
}
#tabbrowser-tabs {
	height: 30px !important;
	transition: height 0.1s ease-in-out;
}

/* Desactivar el icono para las carpetas en marcadores */
#personal-bookmarks .bookmark-item[container="true"] .toolbarbutton-icon {
	display:none!important;
}

/* Desactivar el icono de Firefox View */
#firefox-view-button {
	display: none !important;
}

/* Ocultar el botón de cerrar en las pestañas */
.tab-close-button {
	display: none !important;
}

/* Usar todo el ancho para el texto de las pestañas */
.tab-label {
	display: flex !important;
	width: 100%;
}
